.one {
    grid-column: 1;
    grid-row: 1;
    margin-top: 8%;
}

.one img {
    width: 98%;
    height: 80%;
}

.two {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -3%;
}

.three {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -40%;
}